telethon==1.31.1
aiogram==2.25.1
sqlalchemy==2.0.23
aiohttp==3.8.6
cryptg==0.4.0  # опциональная зависимость для ускорения работы Telethon
pillow==10.1.0  # для работы с изображениями
python-dotenv==1.0.0  # для работы с .env файлами 